@{ 
 
   // for search text box 
    if(IsPost)
    {
        var searchtext=Request["search"];
        <p>search tecxt @searchtext</p>
      if(searchtext!="")
        {
           Response.Redirect(@Href("~/pages/SearchPage",searchtext));
       }
    }
    var b=false;

}

<!DOCTYPE html>

<html lang="en">
    <head>
      
        <title></title>
        <link href="~/Styles/styles.css" rel="stylesheet" type="text/css" />
        <script src="http://code.jquery.com/jquery-1.8.2.js" type="text/javascript">
         
  </script>
    </head>
    <body>
        <form method="post" action="">
    <div id="header">
	<div id="menu">
			<a href="~/Default.cshtml" class="toplinks">Home</a>
    
        @*checking authentication*@

         @if(WebSecurity.IsAuthenticated)             
         {         
                     
                 
             <a href="~/pages/logout.cshtml" id="mylogin1" class="toplinks">Logout</a>
               b=true;                                                       	          
         }
         else
         {
                 
                <a href="@Href("~/pages/login?returnUrl=", Request.Url.LocalPath)" id="mylogin2" class="toplinks">Login</a>
                b=false;                        
          }    
		
          
            <a href="~/pages/register.cshtml" class="toplinks">Registration</a>
            @if(WebSecurity.IsAuthenticated)
           {
			<a href="~/pages/YourAccount.cshtml" class="toplinks">Your Account</a>
		   }
         	
        <a href="@Href("~/pages/AddtoCartPage.cshtml","1")" class="toplinks">Shoping Cart</a>
			
            <div id="search">
			
				<input name="search" type="text" size="25" />
				<input type="submit" value="GO" />
			
	        </div>
        
	</div>
          @if(b==true)
            {
               <p style="color: #ff006e; font-size: large;font-weight: 700;display: inline; font-family: 'Times New Roman';margin-left:10px ">Welcome !!!!!! @WebSecurity.CurrentUserName</p>
            }     
	<h1>JUST4GIRLS</h1>
	<h4>Girls First Choice ...Online Shopping </h4>
  </div><div id="topdiv">    <a href="@Href("~/pages/ProuctPage.cshtml","M")" class="toplink">MakeUp</a>
    <a href="@Href("~/pages/ProuctPage.cshtml","N")" class="toplink">Nails</a>
    <a href="@Href("~/pages/ProuctPage.cshtml","Fa")" class="toplink">Face</a>
    <a href="@Href("~/pages/ProuctPage.cshtml","H")" class="toplink">Hair</a>
    <a href="@Href("~/pages/ProuctPage.cshtml","Ha")" class="toplink">Hand</a>
    <a href="@Href("~/pages/ProuctPage.cshtml","F")" class="toplink">Feet</a>
    <a href="@Href("~/pages/ProuctPage.cshtml","A")" class="toplink">Accessories</a>
    <a href="@Href("~/pages/ProuctPage.cshtml","G")" class="toplink">Gifts</a>
    <a href="~/pages/ContactPage.cshtml" class="toplink">About Us</a>
    <a href="~/pages/ContactPage.cshtml" class="toplink">Contact Us</a>        
			  </div>
   </form>       
<script type="text/javascript">

   
</script>
</body>
 
</html>
 